# Project Title: Exploring Material Properties for EV Chassis Selection Using Pandas
Objectives:
- Strengthen practical skills in Pandas arithmetic operations, function application, and alignment strategies.

- Explore and manipulate real-world material property data.

- Extract actionable engineering insights from structured datasets.

- Practice data transformation and preparation techniques relevant for machine learning workflows.

### Dataset Descriptions
1. Data.csv

Original mechanical properties dataset containing fields like:

- Su (Ultimate Strength), Sy (Yield Strength), E (Young’s Modulus), G, mu, Ro, etc.

- Some fields have missing values and inconsistent formatting.

2. material.csv

A cleaned, preprocessed version used for classification. Includes:

- Concatenated material identifiers.

- Key numeric mechanical properties.

- A derived boolean target variable Use based on property thresholds.

3. decision_tree.png

A visual decision tree that classifies materials based on whether they meet specific mechanical criteria.

### Why This Matters
Selecting optimal materials for electric vehicle (EV) chassis involves balancing strength, elasticity, and weight—critical for safety and performance. This exercise helps you:

- Understand how to apply Pandas arithmetic in real-world scenarios.

- Practice applying and aligning functions for material property evaluation.

- Simulate preprocessing steps for ML-based decision-making.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('material.csv')

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head(5)

                         Material   Su   Sy       E      G   mu    Ro   Use
0   ANSI Steel SAE 1015 as-rolled  421  314  207000  79000  0.3  7860  True
1  ANSI Steel SAE 1015 normalized  424  324  207000  79000  0.3  7860  True
2    ANSI Steel SAE 1015 annealed  386  284  207000  79000  0.3  7860  True
3   ANSI Steel SAE 1020 as-rolled  448  331  207000  79000  0.3  7860  True
4  ANSI Steel SAE 1020 normalized  441  346  207000  79000  0.3  7860  True

### Section 1: Arithmetic and Data Alignment (8 Problems)
Problem 1:
Create a new column StrengthRatio in material.csv as the ratio of Su to Sy.

In [5]:
df['Su'] = pd.to_numeric(df['Su'], errors='coerce')

In [6]:
df['Sy'] = pd.to_numeric(df['Sy'], errors='coerce')

In [7]:
df['StrengthRatio'] = (df['Su']).div(df['Sy'], fill_value=0)

In [8]:
df[['Material', 'Su', 'Sy', 'StrengthRatio']].head(5)

                         Material   Su   Sy  StrengthRatio
0   ANSI Steel SAE 1015 as-rolled  421  314       1.340764
1  ANSI Steel SAE 1015 normalized  424  324       1.308642
2    ANSI Steel SAE 1015 annealed  386  284       1.359155
3   ANSI Steel SAE 1020 as-rolled  448  331       1.353474
4  ANSI Steel SAE 1020 normalized  441  346       1.274566

Problem 2:
Subtract the mean of each numeric column from all its values (center the data). Show the updated DataFrame.

In [9]:
numeric_cols = ['Su', 'Sy', 'E', 'G', 'mu', 'Ro']

In [10]:
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [11]:
df_centered = df.copy()

Using `.copy()` like this:

```python
df_centered = df.copy()
```

is a **best practice** when transforming data in a DataFrame for the following reasons:


### 1. **Preserve the Original `df`**

* It keeps your original dataset (`df`) unchanged.
* This is useful if you want to:

  * Compare the original vs. transformed data later.
  * Reuse `df` for other operations (like feature engineering or modeling) without reloading.



### 2. **Avoid Chained Assignment Warning**

* Modifying slices of `df` without `.copy()` can lead to pandas warnings like:

  ```
  SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame.
  ```
* Explicitly copying avoids these issues and makes your code safer and more predictable.



### 3. **Good for Workflow Isolation**

* In ML pipelines, it’s common to work on transformed versions (e.g., `df_normalized`, `df_centered`, `df_scaled`), so copying keeps each stage clear and modular.



### Summary:

Using `.copy()` is **not required**, but **highly recommended** when:

* You plan to mutate the data.
* You want to keep the original DataFrame intact.
* You're building a clean, reproducible workflow.

In [12]:
df_centered[numeric_cols] = df_centered[numeric_cols].sub(df_centered[numeric_cols].mean())

In [13]:
df_centered[['Material'] + numeric_cols].head(5)

,Material,Su,Sy,E,G,mu,Ro
0,ANSI Steel SAE 1015 as-rolled,-151.753222,-73.010309,42428.479381,-6598.840206,-0.002977,930.156572
1,ANSI Steel SAE 1015 normalized,-148.753222,-63.010309,42428.479381,-6598.840206,-0.002977,930.156572
2,ANSI Steel SAE 1015 annealed,-186.753222,-103.010309,42428.479381,-6598.840206,-0.002977,930.156572
3,ANSI Steel SAE 1020 as-rolled,-124.753222,-56.010309,42428.479381,-6598.840206,-0.002977,930.156572
4,ANSI Steel SAE 1020 normalized,-131.753222,-41.010309,42428.479381,-6598.840206,-0.002977,930.156572

Problem 3:
Normalize E, G, and Ro using min-max scaling across columns.

In [14]:
def min_max_scaling(x):
    return (x - x.min()) / (x.max() - x.min())

In [15]:
cols = ['E', 'G', 'Ro']

In [16]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [17]:
df[cols] = df[cols].apply(min_max_scaling, axis=0)

In [18]:
df[['Material'] + cols].round(3).head(5)

                         Material      E      G     Ro
0   ANSI Steel SAE 1015 as-rolled  0.918  0.071  0.851
1  ANSI Steel SAE 1015 normalized  0.918  0.071  0.851
2    ANSI Steel SAE 1015 annealed  0.918  0.071  0.851
3   ANSI Steel SAE 1020 as-rolled  0.918  0.071  0.851
4  ANSI Steel SAE 1020 normalized  0.918  0.071  0.851

In [19]:
# alternative
df[cols].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

             E         G        Ro
0     0.917808  0.071332  0.850975
1     0.917808  0.071332  0.850975
2     0.917808  0.071332  0.850975
3     0.917808  0.071332  0.850975
4     0.917808  0.071332  0.850975
...        ...       ...       ...
1547  0.657534  0.059219  0.753482
1548  0.657534  0.059219  0.753482
1549  0.657534  0.059219  0.753482
1550  0.595890  0.051144  0.753482
1551  0.595890  0.051144  0.753482

[1552 rows x 3 columns]

Problem 4:
Create a DataFrame with absolute differences between Su, Sy, and E. Use broadcasting to compute pairwise absolute differences.

In [20]:
cols = ['Su', 'Sy', 'E']

In [21]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [22]:
df_diff = pd.DataFrame(
    {
        'AbsDiff_Su_Sy': (df['Su'] - df['Sy']).abs(),
        'AbsDiff_Su_E': (df['Su'] - df['E']).abs(),
        'AbsDiff_E_Sy': (df['E'] - df['Sy']).abs(),
    }
)

In [23]:
# Combine with material name for display
result = pd.concat([df['Material'], df_diff], axis=1)

In [24]:
result.head(5)

                         Material  AbsDiff_Su_Sy  AbsDiff_Su_E  AbsDiff_E_Sy
0   ANSI Steel SAE 1015 as-rolled            107    420.082192    313.082192
1  ANSI Steel SAE 1015 normalized            100    423.082192    323.082192
2    ANSI Steel SAE 1015 annealed            102    385.082192    283.082192
3   ANSI Steel SAE 1020 as-rolled            117    447.082192    330.082192
4  ANSI Steel SAE 1020 normalized             95    440.082192    345.082192

Problem 5:
Align and subtract the values of E and G from each other only where index labels match. Show the result.

In [25]:
df = pd.DataFrame(data)

In [26]:
cols = ['E', 'G']

In [27]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [28]:
series_E = df['E'].copy()

In [29]:
series_G = df['G'].copy()

In [30]:
# Align and subtract
# this aligns the index automatically
aligned_difference = series_E.subtract(series_G, fill_value=0)

In [31]:
result = pd.DataFrame(
    {
        'Material': df['Material'],
        'E': series_E,
        'G': series_G,
        'E_minus_G': aligned_difference,
    }
)

In [32]:
result.head(5)

                         Material       E      G  E_minus_G
0   ANSI Steel SAE 1015 as-rolled  207000  79000     128000
1  ANSI Steel SAE 1015 normalized  207000  79000     128000
2    ANSI Steel SAE 1015 annealed  207000  79000     128000
3   ANSI Steel SAE 1020 as-rolled  207000  79000     128000
4  ANSI Steel SAE 1020 normalized  207000  79000     128000

Problem 6:
From material.csv, align the values of Ro and mu and multiply them elementwise. Show where alignment fails.

In [33]:
df = pd.DataFrame(data)

In [34]:
cols = ['Ro', 'mu']

In [35]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [36]:
ro_series = df['Ro'].copy()

In [37]:
mu_series = df['mu'].copy()

In [38]:
ro_mu_product = ro_series.multiply(mu_series)

In [39]:
ro_mu_product.head(5)

0    2358.0
1    2358.0
2    2358.0
3    2358.0
4    2358.0
dtype: float64

In [40]:
misaligned_rows = ro_mu_product[ro_mu_product.isna()]

In [41]:
misaligned_rows.head(5)

Series([], dtype: float64)

In [42]:
misaligned_rows.shape

(0,)

In [43]:
result = pd.DataFrame(
    {
        'Material': df['Material'],
        'Ro': ro_series,
        'mu': mu_series,
        'Ro_x_mu': ro_mu_product,
    }
)

In [44]:
result.head(5)

                         Material    Ro   mu  Ro_x_mu
0   ANSI Steel SAE 1015 as-rolled  7860  0.3   2358.0
1  ANSI Steel SAE 1015 normalized  7860  0.3   2358.0
2    ANSI Steel SAE 1015 annealed  7860  0.3   2358.0
3   ANSI Steel SAE 1020 as-rolled  7860  0.3   2358.0
4  ANSI Steel SAE 1020 normalized  7860  0.3   2358.0

Problem 7:
Divide each value of Su and Sy by their respective standard deviations (z-score normalization). Store as Su_z and Sy_z.

In [45]:
df = pd.DataFrame(data)

In [46]:
cols = ['Su', 'Sy']

In [47]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

Standardize the columns Su and Sy using Z-score normalization:

Z=
(X−μ) / 
σ

 
Where:


X is the value


μ is the column mean


σ is the column standard deviation

In [48]:
df['z_Su'] = (df['Su'] - df['Su'].mean()) / df['Su'].std()

In [49]:
df['z_Sy'] = (df['Sy'] - df['Sy'].mean()) / df['Sy'].std()

In [50]:
df[['Material', 'Su', 'Sy', 'z_Su', 'z_Sy']].head(5)

                         Material   Su   Sy      z_Su      z_Sy
0   ANSI Steel SAE 1015 as-rolled  421  314 -0.464312 -0.252210
1  ANSI Steel SAE 1015 normalized  424  324 -0.455133 -0.217665
2    ANSI Steel SAE 1015 annealed  386  284 -0.571399 -0.355843
3   ANSI Steel SAE 1020 as-rolled  448  331 -0.381701 -0.193484
4  ANSI Steel SAE 1020 normalized  441  346 -0.403119 -0.141668

Problem 8:
Create a Boolean column Is_High_Elasticity where E is above the 75th percentile. Use this to group by Use and report mean G.

In [51]:
df = pd.DataFrame(data)

In [52]:
cols = ['E', 'G']

In [53]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [54]:
e_75 = df['E'].quantile(0.75)

In [55]:
df['Is_High_Elasticity'] = df['E'] > e_75

In [56]:
df.groupby(['Use', 'Is_High_Elasticity'])['G'].mean().reset_index()

     Use  Is_High_Elasticity             G
0  False               False  86974.474960
1  False                True  80625.698324
2   True               False  79556.521739
3   True                True  79700.000000

### Section 2: Function Application and Mapping (7 Problems)

Problem 9:
Write a function that returns 'Brittle' if mu < 0.25, 'Moderate' if mu <= 0.35, else 'Ductile'. Apply it to the mu column using map.

In [57]:
df = pd.DataFrame(data)

In [58]:
def mu_category(mu_value):
    category = ''
    if pd.isna(mu_value):
        category = 'Unknown'
    elif mu_value < 0.25:
        category = 'Brittle'
    elif mu_value <= 0.35:
        category = 'Moderate'
    else:
        category = 'Ductile'
    return category

In [59]:
df['mu'] = df['mu'].apply(pd.to_numeric, errors='coerce')

In [60]:
df['mu_category'] = df['mu'].map(mu_category)

In [61]:
df[['Material', 'mu', 'mu_category']].head(5)

                         Material   mu mu_category
0   ANSI Steel SAE 1015 as-rolled  0.3    Moderate
1  ANSI Steel SAE 1015 normalized  0.3    Moderate
2    ANSI Steel SAE 1015 annealed  0.3    Moderate
3   ANSI Steel SAE 1020 as-rolled  0.3    Moderate
4  ANSI Steel SAE 1020 normalized  0.3    Moderate

Problem 10:
Use apply() to compute the range (max - min) for each material’s numeric properties.

In [62]:
df = pd.DataFrame(data)

In [63]:
numeric_columns = df.select_dtypes(include=[np.number]).columns

In [64]:
numeric_columns

Index(['Su', 'Sy', 'E', 'G', 'mu', 'Ro'], dtype='object')

In [65]:
def compute_range(x):
    return x.max() - x.min()

In [66]:
df[numeric_columns].apply(compute_range, axis=0)

Su      2151.00
Sy      2020.00
E     146000.00
G     743000.00
mu         0.15
Ro      7180.00
dtype: float64

Problem 11:
Apply a function across columns that classifies materials as 'Low Strength', 'Medium Strength', or 'High Strength' based on Su.

In [67]:
df = pd.DataFrame(data)

In [68]:
df['Su'] = df['Su'].apply(pd.to_numeric, errors='coerce')

In [69]:
low_strength = df['Su'].quantile(0.33)
low_strength

np.float64(410.0)

In [70]:
high_strength = df['Su'].quantile(0.66)
high_strength

np.float64(630.0)

In [71]:
def material_classification(su_values):
    if pd.isna(su_values):
        return 'Unknown'
    elif su_values <= low_strength:
        return 'Low Strength'
    elif su_values <= high_strength:
        return 'Medium Strength'
    else:
        return 'High Strength'

In [72]:
df['su_class'] = df['Su'].apply(material_classification)

In [73]:
df[['Material', 'su_class']].head(5)

                         Material         su_class
0   ANSI Steel SAE 1015 as-rolled  Medium Strength
1  ANSI Steel SAE 1015 normalized  Medium Strength
2    ANSI Steel SAE 1015 annealed     Low Strength
3   ANSI Steel SAE 1020 as-rolled  Medium Strength
4  ANSI Steel SAE 1020 normalized  Medium Strength

Problem 12:
Use apply() with axis=1 to calculate a material’s total stiffness score:
TotalStiffness = E + G + Ro

In [74]:
df = pd.DataFrame(data)

In [75]:
cols = ['E', 'G', 'Ro']

In [76]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [77]:
def total_stiffness(frame):
    return frame['E'] + frame['G'] + frame['Ro']

In [78]:
df['total_stiffness'] = df.apply(total_stiffness, axis=1)

In [79]:
df[['Material'] + cols].head(5)

                         Material       E      G    Ro
0   ANSI Steel SAE 1015 as-rolled  207000  79000  7860
1  ANSI Steel SAE 1015 normalized  207000  79000  7860
2    ANSI Steel SAE 1015 annealed  207000  79000  7860
3   ANSI Steel SAE 1020 as-rolled  207000  79000  7860
4  ANSI Steel SAE 1020 normalized  207000  79000  7860

Problem 13:
Format all floating-point values in the DataFrame to two decimal places using map().

In [80]:
df = pd.DataFrame(data)

In [81]:
numeric_columns = df.select_dtypes(include=[np.number]).columns

In [82]:
def format_num(num):
    return f'{num:.2f}'

In [83]:
df[numeric_cols] = df[numeric_columns].map(format_num)

In [84]:
df[['Material'] + cols].head(5)

                         Material          E         G       Ro
0   ANSI Steel SAE 1015 as-rolled  207000.00  79000.00  7860.00
1  ANSI Steel SAE 1015 normalized  207000.00  79000.00  7860.00
2    ANSI Steel SAE 1015 annealed  207000.00  79000.00  7860.00
3   ANSI Steel SAE 1020 as-rolled  207000.00  79000.00  7860.00
4  ANSI Steel SAE 1020 normalized  207000.00  79000.00  7860.00

Problem 14:
Use map() to replace all True/False in the Use column with Suitable/Unsuitable.

In [85]:
df = pd.DataFrame(data)

In [86]:
def replace_t_f(x):
    if x:
        return 'Suitable'
    else:
        return 'Unsuitable'

In [87]:
df['new_Use'] = df['Use'].map(replace_t_f)

In [88]:
df[['Material', 'Use', 'new_Use']].head(5)

                         Material   Use   new_Use
0   ANSI Steel SAE 1015 as-rolled  True  Suitable
1  ANSI Steel SAE 1015 normalized  True  Suitable
2    ANSI Steel SAE 1015 annealed  True  Suitable
3   ANSI Steel SAE 1020 as-rolled  True  Suitable
4  ANSI Steel SAE 1020 normalized  True  Suitable

Problem 15:
Group the dataset by whether Sy is above or below the median, and compute average Su, E, and Ro for each group using apply.

In [89]:
df = pd.DataFrame(data)

In [90]:
cols = ['Sy', 'Su', 'E', 'Ro']

In [91]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [92]:
sy_median = df['Sy'].median()
sy_median

np.float64(305.0)

In [93]:
def sy_below_above(x):
    if pd.isna(x):
        return 'Unknown'
    elif x < sy_median:
        return 'Below'
    else:
        return 'Above'

In [94]:
df['Sy_category'] = df['Sy'].apply(sy_below_above)

In [95]:
result = df.groupby('Sy_category')[cols].mean().reset_index()

In [96]:
result.round(2).head(5)

  Sy_category      Sy     Su          E       Ro
0       Above  576.97  793.1  192825.42  7549.72
1       Below  195.58  350.7  136098.32  6305.16

## More Problems
### **Section A: Arithmetic and Data Alignment (8 problems)**

1. **Center Data (Mean Subtraction)**
   Subtract the mean of each numeric column from its values.
   *Expected*: Centered values (mean ≈ 0 per column).

In [121]:
data = pd.read_csv('Data.csv')

In [122]:
df = pd.DataFrame(data)

In [123]:
df.head(5)

,Std,ID,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro,pH,Desc,HV
0,ANSI,D8894772B88F495093C43AF905AB6373,Steel SAE 1015,as-rolled,421,314,39.0,126.0,207000,79000,0.3,7860,NaN,NaN,NaN
1,ANSI,05982AC66F064F9EBC709E7A4164613A,Steel SAE 1015,normalized,424,324,37.0,121.0,207000,79000,0.3,7860,NaN,NaN,NaN
2,ANSI,356D6E63FF9A49A3AB23BF66BAC85DC3,Steel SAE 1015,annealed,386,284,37.0,111.0,207000,79000,0.3,7860,NaN,NaN,NaN
3,ANSI,1C758F8714AC4E0D9BD8D8AE1625AECD,Steel SAE 1020,as-rolled,448,331,36.0,143.0,207000,79000,0.3,7860,NaN,NaN,NaN
4,ANSI,DCE10036FC1946FC8C9108D598D116AD,Steel SAE 1020,normalized,441,346,35.8,131.0,207000,79000,0.3,7860,550.0,NaN,NaN

In [124]:
numeric_columns = df.select_dtypes(include=[np.number]).columns

In [125]:
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [127]:
df[numeric_columns] = df[numeric_columns].sub(df[numeric_columns].mean())

In [128]:
df[numeric_columns].head(5)

,Su,A5,Bhn,E,G,mu,Ro,pH,HV
0,-151.753222,19.670579,-51.138229,42428.479381,-6598.840206,-0.002977,930.156572,NaN,NaN
1,-148.753222,17.670579,-56.138229,42428.479381,-6598.840206,-0.002977,930.156572,NaN,NaN
2,-186.753222,17.670579,-66.138229,42428.479381,-6598.840206,-0.002977,930.156572,NaN,NaN
3,-124.753222,16.670579,-34.138229,42428.479381,-6598.840206,-0.002977,930.156572,NaN,NaN
4,-131.753222,16.470579,-46.138229,42428.479381,-6598.840206,-0.002977,930.156572,-77.393782,NaN

In [129]:
df[numeric_columns].mean()

Su    -2.812870e-14
A5    -1.182478e-15
Bhn   -1.767916e-14
E     -1.200158e-11
G     -2.400316e-12
mu     2.861400e-17
Ro     1.500197e-13
pH     4.241167e-14
HV    -1.378022e-14
dtype: float64

2. **Column-wise Standardization**
   Compute z-scores (value minus mean divided by std deviation) for all numeric columns.

In [130]:
df = pd.DataFrame(data)

In [131]:
numeric_columns = df.select_dtypes(include=[np.number]).columns

In [132]:
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [138]:
df[numeric_columns] = (df[numeric_columns].sub(df[numeric_columns].mean())) / df[numeric_columns].std()

In [139]:
df[numeric_columns].head(5)

,Su,A5,Bhn,E,G,mu,Ro,pH,HV
0,-0.913606,1.516281,-1.125982,0.726915,-0.345700,-0.309830,0.290015,NaN,NaN
1,-0.865193,1.370123,-1.150131,0.766117,-0.312298,-0.285613,0.330031,NaN,NaN
2,-0.978629,1.402202,-1.238661,0.807018,-0.277448,-0.260347,0.371781,NaN,NaN
3,-0.804283,1.252359,-0.898928,0.728741,-0.344144,-0.308701,0.291880,NaN,NaN
4,-0.735727,1.316019,-0.946541,0.832467,-0.255764,-0.244626,0.397759,-0.902907,NaN

3. **Element-wise Division with Alignment**
   Divide column `E` by `G` using `df['E'].div(df['G'])`, and name the result `E_div_G`.

In [140]:
df = pd.DataFrame(data)

In [157]:
df.head(3)

,Std,ID,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro,pH,Desc,HV
0,ANSI,D8894772B88F495093C43AF905AB6373,Steel SAE 1015,as-rolled,421,314,39.0,126.0,207000,79000,0.3,7860,NaN,NaN,NaN
1,ANSI,05982AC66F064F9EBC709E7A4164613A,Steel SAE 1015,normalized,424,324,37.0,121.0,207000,79000,0.3,7860,NaN,NaN,NaN
2,ANSI,356D6E63FF9A49A3AB23BF66BAC85DC3,Steel SAE 1015,annealed,386,284,37.0,111.0,207000,79000,0.3,7860,NaN,NaN,NaN

In [158]:
df.tail(3)

,Std,ID,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro,pH,Desc,HV
1549,JIS,CAC03D7EB1AA45E68EFF92A2EF4C3D9B,Nodular cast iron,NaN,800,480,NaN,NaN,169000,70000,0.20,7160,600.0,Nodular cast iron,240.0
1550,JIS,45C82A36EC644F8BB6170A99ED819B62,Malleable cast iron,NaN,400,180,4.0,NaN,160000,64000,0.27,7160,300.0,Malleable cast iron,220.0
1551,JIS,BC74F870412F4DDBADDEF1063C1C079F,Malleable cast iron,NaN,500,260,4.0,NaN,160000,64000,0.27,7160,370.0,Malleable cast iron,230.0

In [141]:
df[['E', 'G']] = df[['E', 'G']].apply(pd.to_numeric, errors='coerce')

In [142]:
df['E_div_G'] = df['E'].div(df['G'], fill_value=0)

In [143]:
df[['Material', 'E', 'G', 'E_div_G']].head(5)

         Material       E      G   E_div_G
0  Steel SAE 1015  207000  79000  2.620253
1  Steel SAE 1015  207000  79000  2.620253
2  Steel SAE 1015  207000  79000  2.620253
3  Steel SAE 1020  207000  79000  2.620253
4  Steel SAE 1020  207000  79000  2.620253

4. **Add Two Series with Mismatched Index**
   Create two Series with offset indexes and add them using alignment. Fill missing values with 0.

In [144]:
df = pd.DataFrame(data)

In [146]:
df[['Ro', 'pH']] = df[['Ro', 'pH']].apply(pd.to_numeric, errors='coerce')

In [150]:
df['Ro_plus_pH'] = df['Ro'].add(df['pH'], fill_value=0)

In [151]:
df[['Material', 'Ro', 'pH', 'Ro_plus_pH']].head(5)

         Material    Ro     pH  Ro_plus_pH
0  Steel SAE 1015  7860    NaN      7860.0
1  Steel SAE 1015  7860    NaN      7860.0
2  Steel SAE 1015  7860    NaN      7860.0
3  Steel SAE 1020  7860    NaN      7860.0
4  Steel SAE 1020  7860  550.0      8410.0

5. **Align and Subtract Rows**
   Take the top 3 and bottom 3 rows of the numeric DataFrame. Align by column names and subtract one from the other.

In [152]:
df = pd.DataFrame(data)

In [153]:
numeric_columns = df.select_dtypes(include=[np.number]).columns

In [154]:
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [155]:
top_3_numeric_rows = df[numeric_columns][:3]

In [156]:
top_3_numeric_rows

    Su    A5    Bhn       E      G   mu    Ro  pH  HV
0  421  39.0  126.0  207000  79000  0.3  7860 NaN NaN
1  424  37.0  121.0  207000  79000  0.3  7860 NaN NaN
2  386  37.0  111.0  207000  79000  0.3  7860 NaN NaN

In [161]:
bottom_3_numeric_rows = df[numeric_columns][-3:]

In [162]:
bottom_3_numeric_rows

       Su   A5  Bhn       E      G    mu    Ro     pH     HV
1549  800  NaN  NaN  169000  70000  0.20  7160  600.0  240.0
1550  400  4.0  NaN  160000  64000  0.27  7160  300.0  220.0
1551  500  4.0  NaN  160000  64000  0.27  7160  370.0  230.0

In [169]:
result = top_3_numeric_rows.subtract(bottom_3_numeric_rows, fill_value=0)

In [170]:
result.round(2).reset_index()

   index     Su    A5    Bhn         E        G    mu      Ro     pH     HV
0      0  421.0  39.0  126.0  207000.0  79000.0  0.30  7860.0    NaN    NaN
1      1  424.0  37.0  121.0  207000.0  79000.0  0.30  7860.0    NaN    NaN
2      2  386.0  37.0  111.0  207000.0  79000.0  0.30  7860.0    NaN    NaN
3   1549 -800.0   NaN    NaN -169000.0 -70000.0 -0.20 -7160.0 -600.0 -240.0
4   1550 -400.0  -4.0    NaN -160000.0 -64000.0 -0.27 -7160.0 -300.0 -220.0
5   1551 -500.0  -4.0    NaN -160000.0 -64000.0 -0.27 -7160.0 -370.0 -230.0

6. **Reverse Arithmetic (rsub)**
   Use `.rsub()` to subtract each value in column `Su` from the column average.

In [171]:
df = pd.DataFrame(data)

In [172]:
df['Su'] = df['Su'].apply(pd.to_numeric, errors='coerce')

In [173]:
df['su_rsub'] = df['Su'].rsub(df['Su'].mean())

In [174]:
df[['Material', 'Su', 'su_rsub']].head(5)

         Material   Su     su_rsub
0  Steel SAE 1015  421  151.753222
1  Steel SAE 1015  424  148.753222
2  Steel SAE 1015  386  186.753222
3  Steel SAE 1020  448  124.753222
4  Steel SAE 1020  441  131.753222

7. **Multi-column Arithmetic**
   Compute `Strength_Index = (Su + Sy) / 2`. Store in a new column.

In [175]:
df = pd.DataFrame(data)

In [176]:
cols = ['Sy', 'Su']

In [177]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [178]:
df['Strength_Index'] = (df['Su'].add(df['Sy'], fill_value=0)) / 2

In [179]:
df[['Material', 'Strength_Index'] + cols].head(5)

         Material  Strength_Index     Sy   Su
0  Steel SAE 1015           367.5  314.0  421
1  Steel SAE 1015           374.0  324.0  424
2  Steel SAE 1015           335.0  284.0  386
3  Steel SAE 1020           389.5  331.0  448
4  Steel SAE 1020           393.5  346.0  441

8. **Broadcasting with Alignment**
   Subtract a Series (e.g., median of each column) from the entire DataFrame and show results.

In [180]:
df = pd.DataFrame(data)

In [181]:
numeric_columns = df.select_dtypes(include=[np.number]).columns

In [182]:
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [185]:
df_median = df[numeric_columns].median()

In [186]:
df_median

Su        500.0
A5         16.0
Bhn       170.0
E      206000.0
G       79000.0
mu          0.3
Ro       7860.0
pH        460.0
HV        230.0
dtype: float64

In [193]:
df_subtract_median = df[numeric_columns].subtract(df_median)

In [194]:
df_subtract_median.head(5)

      Su    A5   Bhn       E    G   mu   Ro    pH  HV
0  -79.0  23.0 -44.0  1000.0  0.0  0.0  0.0   NaN NaN
1  -76.0  21.0 -49.0  1000.0  0.0  0.0  0.0   NaN NaN
2 -114.0  21.0 -59.0  1000.0  0.0  0.0  0.0   NaN NaN
3  -52.0  20.0 -27.0  1000.0  0.0  0.0  0.0   NaN NaN
4  -59.0  19.8 -39.0  1000.0  0.0  0.0  0.0  90.0 NaN

### **Section B: Normalization, Classification, Scoring (4 problems)**

9. **Min-Max Scaling**
   Normalize columns `E`, `G`, `Ro` using Min-Max scaling.

In [196]:
df = pd.DataFrame(data)

In [197]:
cols = ['E', 'G', 'Ro']

In [198]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [199]:
def normalize(x):
    return (x - x.min()) / (x.max() - x.min())

In [205]:
result = df[cols].apply(normalize, axis=0)

In [206]:
result.round(2).head(5)

      E     G    Ro
0  0.92  0.07  0.85
1  0.92  0.07  0.85
2  0.92  0.07  0.85
3  0.92  0.07  0.85
4  0.92  0.07  0.85

10. **Quantile-based Classification**
    Classify `Su` into 'Low', 'Medium', 'High' using 33rd and 66th percentiles.

In [207]:
df = pd.DataFrame(data)

In [208]:
df['Su'] = df['Su'].apply(pd.to_numeric, errors='coerce')

In [209]:
low = df['Su'].quantile(0.33)

In [210]:
high = df['Su'].quantile(0.66)

In [213]:
def su_classification(su_value):
    if pd.isna(su_value):
        return 'Unknown'
    elif su_value <= low:
        return 'Low'
    elif su_value <= high:
        return 'Medium'
    else:
        return 'High'

In [214]:
df['su_classification_results'] = df['Su'].apply(su_classification)

In [215]:
df[['Material', 'Su', 'su_classification_results']].head(5)

         Material   Su su_classification_results
0  Steel SAE 1015  421                    Medium
1  Steel SAE 1015  424                    Medium
2  Steel SAE 1015  386                       Low
3  Steel SAE 1020  448                    Medium
4  Steel SAE 1020  441                    Medium

11. **Total Stiffness Score**
    Define `Total_Stiffness = E + G + Ro` using `apply(axis=1)`.

In [216]:
df = pd.DataFrame(data)

In [217]:
cols = ['E', 'G', 'Ro']

In [218]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [219]:
def total_stiffness(frame):
    return frame['E'] + frame['G'] + frame['Ro']

In [220]:
df['total_stiffness'] = df[cols].apply(total_stiffness, axis=1)

In [224]:
df[['Material'] + cols + ['total_stiffness']].head(5)

         Material       E      G    Ro  total_stiffness
0  Steel SAE 1015  207000  79000  7860           293860
1  Steel SAE 1015  207000  79000  7860           293860
2  Steel SAE 1015  207000  79000  7860           293860
3  Steel SAE 1020  207000  79000  7860           293860
4  Steel SAE 1020  207000  79000  7860           293860

12. **Group By and Compute Mean**
    Group by whether `Sy` is above/below median, compute average of `Su`, `E`, `Ro`

In [225]:
df = pd.DataFrame(data)

In [228]:
cols = ['Sy', 'Su', 'E', 'Ro']

In [229]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [233]:
sy_median = df['Sy'].median()

In [234]:
def sy_position(x):
    if pd.isna(x):
        return 'Unknown'
    elif x > sy_median:
        return 'Above'
    else:
        return 'Below'

In [236]:
df['Sy_position'] = df['Sy'].apply(sy_position)

In [238]:
result = df.groupby('Sy_position')[cols].mean().reset_index()

In [240]:
result.head()

  Sy_position          Sy          Su              E           Ro
0       Above  582.596330  798.791612  193370.904325  7561.771953
1       Below  197.418694  355.025608  136011.523688  6302.951344
2     Unknown         NaN  270.000000  206000.000000  7860.000000

### **Section C: Utility and Map/Format/Replace (1 problem)**

13. **Create Category from Multiple Conditions**
    Create a column `material_type` using `apply()` based on `mu` and `Ro` values.
    Example: `'Fragile'` if `mu < 0.3 and Ro > 7000`, `'Stable'` otherwise.

In [241]:
df = pd.DataFrame(data)

In [242]:
cols = ['mu', 'Ro']

In [243]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [244]:
def get_material_type(frame):
    if frame['mu'] < 0.3 and frame['Ro'] > 7000:
        return 'Fragile'
    else:
        return 'Stable'

In [245]:
df['material_type'] = df[cols].apply(get_material_type, axis=1)

In [246]:
df[['Material'] + cols + ['material_type']].head(5)

         Material   mu    Ro material_type
0  Steel SAE 1015  0.3  7860        Stable
1  Steel SAE 1015  0.3  7860        Stable
2  Steel SAE 1015  0.3  7860        Stable
3  Steel SAE 1020  0.3  7860        Stable
4  Steel SAE 1020  0.3  7860        Stable